* {
    margin: 0;
    padding: 0;
    font: 700 100%/140% tahoma;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
}

p {
    margin: 0 0 2px;
}

.wrapper {
    font-size: 95%;
}

.openstack, .tab-panel {
    top: 20px;
    bottom: 20px;
    position: fixed;
    left: 10px;
    width: 78%;
    padding: 1% 0.5%;
    text-align: left;
    border: 1px solid #000;
    border-radius: 7px;
    background: #FEFEFE;
    overflow-y: auto;
}

.tab-panel {
    margin: 0;
    right: 10px;
    left: auto;
    width: 19%;
    box-shadow: 2px 3px 3px 1px #999;
}

.tab-panel h2 {
    margin: 0 0 5px;
    font-size: 115%;
    font-family: tahoma;
/*    font-size: 105%; */
    text-align: center;
    color: #0000FF;
}

.tab-name {
    cursor: pointer;
}

.tab-container {
    display: inline-block;
    width: 100%;
}

.legend div {
    margin: 0 3px 3px 0;
    padding: 3px 7px;
    float: left;
    position: relative;
}

.openstack .cn {
    background: #E9E9E9;
    border: 1px solid #000;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 2px 3px 3px #999;
    color: #444;
    margin: 0 10px 10px 0;
    padding: 2px 5px;
    text-align: center;
    width: 190px;
    display: inline-table;
}

.cn div {
    margin: 0 2px 4px;
    padding: 3px;
    background: #F8F8F8;
    border: 2px solid #fff;
    border-radius: 7px 7px 7px 7px;
    color: #666666;
    font: 13px/17px tahoma;
}

/*    
    border: 0 solid #FFFFFF !important;
 */

.openstack.project .hyp {
    display: none;
}

.openstack.project .hyp.active {
    display: inline-table;
}

.cn .active  {
/*    border: 2px solid #FF0000;    */
    border: 1px solid;
    color: #FF0000;
}

.cn.active  {
/*    box-shadow: 2px 3px 3px #FF7171; */
/*    font-size: 95%; */
}

.cn .web {
    background: #66E0FF;
    color: #006680;
}

.cn .db {
    background: #FF7171;
    color: #802626;
}

.cn .bd {
    background: #FF7171;
    color: #802626;
}

.cn .solr {
    background: #D4D419;
    color: #535300;
}

.cn .memcache {
    background: #FF85FF;
    color: #803380;
}

.cn .cache {
    background: #FF85FF;
    color: #803380;
}

.cn .session {
    background: #EB81EB;
    color: #8A3A8A;
}

.cn .mongo {
    background: #FF5CAD;
    color: #802E56;
}

.cn .worker {
    background: #6CDADA;
    color: #2E6B6B;
}

.cn .mq {
    background: #DAB5FF;
    color: #6D5A80;
}

.cn .deploy {
    background: #91FFDA;
}

.cn .backup {
    background: #73E673;
    color: #338033;
}

.cn .rsbackuplogs {
    background: #73E673;
    color: #338033;
}

.cn .syslog {
    background: #78E653;
    color: #305C21;
}

.cn .logstash {
    background: #78E653;
    color: #305C21;
}

.cn .ssl {
    background: #A6E665;
    color: #537332;
}

.cn .migration {
    background: #DFBF5F;
    color: #836E2E;
}

.cn .sysaid {
    background: #8AE68A;
    color: #4C804C;
}

.cn .connect {
    background: #E6B88A;
    color: #66523D;
}

.cn .content {
    background: #66E0FF;
    color: #006680;
}

.cn .mail {
    background: #CE859D;
    color: #613342;
}

.cn .zabbix {
    background: #FFB84D;
    color: #996E2E;
}

.cn .zabbix-proxy {
    background: #FFB84D;
    color: #996E2E;
}

.cn .cron {
    background: #96BFE8;
    color: #455C73;
}

.cn .magoo {
    background: #9CD6C3;
    color: #3A544B;
}

.cn .applog {
    background: #FF94B8;
}

.cn .codetest {
    background: #85FFD6;
    color: #356656;
}

.cn .demo {
    background: #DFBF5F;
    color: #836E2E;
}

.cn .management {
    background: #71C68D;
    color: #2E6E43;
}

.cn .autotest {
    background: #97C9B1;
    color: #365948;
}

.cn .test {
    background: #97C9B1;
    color: #365948;
}

.cn .migrationtest {
    background: #97C9B1;
    color: #365948;
}

.cn .metric {
    background: #93E678;
    color: #416635;
}

.cn .xweb {
    background: #66E0FF;
    color: #006680;
}

.cn .demoweb {
    background: #66E0FF;
    color: #006680;
}

.cn .xdb {
    background: #FF7171;
    color: #802626;
}

.cn .demodb {
    background: #FF7171;
    color: #802626;
}

.cn .zfs {
    background: #73E673;
    color: #338033;
}

.cn .applog {
    background: #78E653;
    color: #305C21;
}

.cn .beepbeep {
    background: #9CD6C3;
    color: #3A544B;
}

.cn .bamboo {
    background: #9CD6C3;
    color: #3A544B;
}

.cn .git {
    background: #9CD6C3;
    color: #3A544B;
}

.cn .es {
    background: #FF944D;
    color: #3A544B;
}

/* html body div.wrapper div.container div#cn9.prod.lvs.cn div.count */
div.count {
    margin: 1px 2px 3px;
    padding: 1px 1px 1px 3px;
    background: #F8F8F8;
    border: 1px solid #000;
    border-radius: 7px 7px 7px 7px;
    color: #666666;
    font: 70% tahoma;
}

.active-nodes {
/*    border: 2px dashed red !important; */
    border: 2px solid red !important;
}

table {
    display: inline-table;
    width: 100%;
    border: 1px solid #A9C6C9;
    border-spacing: 0px;
    font: 90% tahoma;
    margin: 1px;
}

td {
    border-color: #A9C6C9;
    border-top: 0 solid;
    border-right: 0px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    font: 90% tahoma;
}

th {
    border-color: #A9C6C9;
    border-top: 1px solid;
    border-right: 0px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    font: 90% tahoma;
}

thead th {
    border-color: #A9C6C9;
    font: 12px verdana;
    font-weight: bolder;
/*    font-weight: bold; */
    color: #009900;
}

tbody td{
    border-color: #A9C6C9;
    font: 90% tahoma;
/*    font-stretch:  wider; */
}

.text-right{
    padding: 1px 2px 1px 0;
    border-color: #A9C6C9;
    font: 90% tahoma;
    text-align: right;
}

#totals td {
    font-weight: bolder;
    color: #000099;
}

#capacity {
    width: 99%;
    height: 300px;
    margin: 0 10px 0 0;
}

.cn .shutdown {
    background-image: linear-gradient(-45deg, rgba(15, 15, 15, 0.2) 25%
        , rgba(0, 0, 0, 0) 25%
        , rgba(0, 0, 0, 0) 50%
        , rgba(15, 15, 15, 0.2) 50%
        , rgba(15, 15, 15, 0.2) 75%
        , rgba(0, 0, 0, 0) 75%
        , rgba(0, 0, 0, 0)
    );
    background-size: 20px 20px;
}

.cn div a {
    text-decoration: none;
    color: #444444;
    cursor: pointer;
}

/*<!--/ bootstrap cover-settings /-->*/

.node p {
    margin: 0;
}

.glyphicon-info-sign {
}

.popover-node, .popover-hyp {
    margin: 2px 0 2px 2px !important;
    padding: 0 !important;
    background: none !important;
    border: none !important;
    float: right;
    display: inline-block;
    right: 2px;
    vertical-align: bottom;
    position: relative;
}

.popover {
    max-width: 300px;
}

.popover-title {
    font: 700 100%/140% tahoma;
    color: #0000FF;
}

.popover-content {
    font: 90% tahoma;
}

.caret {
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    border-top: 7px solid;
}

hr {
    margin-bottom: 5px;
    margin-top: 5px;
}

.release {
    top: 1px;
    left: 12px;
    position: fixed;
    text-align: left;
    overflow-y: auto;
    font: 700 100%/140% tahoma;
    color: #000000;
}

/*<!--/ bootstrap cover-settings /-->*/

